.container-contact {
    padding: 4rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom:2rem;
}


/*------------------Header--------------------*/
.content-top {
    width: 50%;
    height: 10rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: table-cell;
    vertical-align: middle;
    padding: 0%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    position: relative;
    background-image: url('./icons/contact-us.jpg');
}

.content-top::before {
    background-color: rgba(60, 61, 62, 0.65);
    outline: none;
    content: '';
    display: block;
    padding: 0%;
    position: absolute;
    height: 100%;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.content-top>h4 {
    margin-top: 3rem;
}

.content-top>* {
    color: white;
    position: relative;
}

/*---------------Formulario---------------*/

.container-form {
    background-color: rgba(60, 61, 62, 0.3);
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.container-form>form>div{
    padding:1rem 1rem;
}
.container-form>form>div>label{
    color:#f5f5f5;
}
.container-form>form>div>input{
    border: 0;
    outline: 0;
    margin-left:1rem;
    width: 50%;
    color:#f5f5f5;
    background-color: transparent;
    border-bottom:1px solid #f5f5f5;
}
.container-form>form>div>input:focus{
    border-bottom:1px solid white;
    transition: 0.5s;
}
::-webkit-input-placeholder { /* Edge */
    color: rgba(255,255,255,0.6);
}
.container-form>form>div>textarea{
    vertical-align: top;
    margin-left:1rem;
    width:50%;
    border: 0;
    outline: 0;
    color:#f5f5f5;
    background-color: transparent;
    border-bottom:1px solid #f5f5f5;
}
.button-form{
    margin:1rem 0rem;
    padding:0.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20%;
    background-color: rgb(60, 61, 62);
    border:none;
    border-radius:2rem;
}
.button-form>p{
    color:white;
    padding:0.25rem;
}
.arrow{
    width: 25%;
    height: 25%;
    margin-left:1rem;
}
/*---------------------Media Query----------------------*/

@media (max-width:768px) {
    .content-top,.container-form{
        width: 90%;
    }
    .content-top>h4 {
        margin: 1.5rem 0rem;
    }
    .container-form>div>input,.container-form>div>textarea{
        width: 70%;
    }
    .button-form{
        width: 40%;
    }

}