body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial;
}

.header{
    background-color: #343a40;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    height: 30px;
}
.menu{
    display: flex;
}
.menu>li{
    margin-left:10%;
    padding:2%;
}
.menu>li>*{
    text-decoration: none;
    color: white;
}
.turnoff{
    width:10%;
    height: 100%;
    padding:0%;
}