td{ 
    border: 1px solid #484d53;
    padding:1rem 2rem;
    color:white;
    background-color:#5c6166 ;
    justify-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.trash{
    width: 48px;
    height: 48px;
    padding: 0%;
    padding: 0px; 
    margin: 0px;
}
@media screen and (max-width: 850px) {
    .trash{
        width: 30px;
        height: 30px;
    }
    td{ 
        padding:1%;
    }
}