a,li,ul{
    margin:0%;
    padding:0%;
}
footer{
    background: #343a40;
    color:#F5F5F5;   
    position:absolute;
    left:0;
    right:0;
    margin-top:1rem;
    margin-bottom:0rem;  
}
ul{
    list-style-type: none  
}
.icons{
    margin-right:1rem;
}
.location>p{
    margin-top: 2%;
    margin-bottom:2%;
}
.logoUerj{
    width: 40%;
    height: 40%;
}
.logoSerra{
  
    width: 130%;
    height: 130%;
}
.logoAcademind{
    width: 80%;
    height: 80%;
}
.ul-links-footer{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

@media (max-width:768px) {
    .logoUerj{
        width: 30%;
        height: 30%;
    }
    .logoSerra{
      
        width: 110%;
        height: 110%;
    }
    .logoAcademind{
        width: 60%;
        height: 60%;
    }
}
