.nav-links_left{
    width: 85%;
    margin-left:4%;
}
.nav-links_right{
    width:15%;
}
.nav-links_right>a>img{
    width: 15%!important;
    height: 15%!important;
    margin-left:5%;
    margin-right: 5%;
}
.nav-links_cel{
    display: none;
}
@media only screen and (max-width: 800px) {
    nav{
        margin-top:0%;
    }  
    
    .nav-links_right{
        display: none;
    }
   .nav-links_cel{
        display: inline-flex;
        width: 100%;
        height:3rem;
        margin-top:0%;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: black;
         
   }
   .nav-links_cel>a>img{
        width: 20%!important;
        height: 20%!important;
        margin:0 auto;
    }
    .nav-links_cel>a{
        text-decoration: none;
        display: block;
        margin-left:0%;
        margin-right: 0%;
    }
    .navUl{
        width:100%;
    }
    header{
        width: 100%;
    }
    .navbar{
        flex-direction: column-reverse;
    }
   
}

