.nav-item:hover{
    background-color: rgba(0,0,0,0.7);
}

@media only screen and (max-width: 800px) {
    li{    
        margin-left:auto;
        margin-right: auto;
        font-size: 1.2em;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left:2%;
        padding-right: 2%;
    }
}