.box-cursos {
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.box-cursos>p {
    font-weight: 1300;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    color: #343a40;
}

.box-cursos-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin:0 auto;
    max-width: 1600px;
    text-align: center;
}

