.button-cad{
    position:absolute;
    bottom:4%;
    right:4%;
    border-radius:50%;
    background-color:#343a40;
    padding:1%;
    border:none;
    outline:none;
}

@media (max-width:800px){
    .button-cad{
        position: relative;
        bottom:0%;
        padding:1rem;
        margin:1rem 0rem;
        margin-left:2rem;
    }
    .button-div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}